
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
li{
    list-style-type: none;
    margin: 10px 0px;
}
li p{
    display: inline;
    
}
li input{
    border: none;
    background-color: #ADC5CF;
    border-radius: 5px;
}
